<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de meeting</title>
</head>
<body>
    <h1>Fotos</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <h2>Foto 1</h2>
        <input type="file" name="first_file" accept=".png, .jpg, .jpeg">
        <h2>Foto 2</h2>
        <input type="file" name="segund_file" accept=".png, .jpg, .jpeg">
    </form>
</body>
</html>
