<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar se é frente ou o verso do documento</title>
</head>
<body>
    <h1>Fotos do documento</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <h2>Frente do documento</h2>
        <input type="file" name="front_file" accept=".png, .jpg, .jpeg">
        <h2>Parte de trás do documento</h2>
        <input type="file" name="back_file" accept=".png, .jpg, .jpeg">
        <button type="submit">Enviar</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
